
/* Fő tartalmi részek stílusai */
.container-for-adminpage {
    display: flex;
    gap:1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: fit-content;
}

.container-menu {
    height: fit-content;
    display:block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-bottom: 2px solid #888;
    background-color: rgba(156, 189, 224, 0.5);
    border-radius: 16px;
}
.container-menu-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(131, 165, 202, 0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 16px;
    margin-bottom: 1.5rem;
}
.container-menu-logo img{
    width:75%;
}
.container-menuitems{
    margin: 0rem 1.25rem 2rem 1.25rem;
}
.container-menuitem{
    display:flex;
    background-color: #F6F6F6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin-bottom: 0.75rem;
    padding:0.8rem;
}










.container-surface {
    display:block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: rgba(194, 210, 227, 0.5);
    border-radius: 16px;
    transition: 1s;
    padding: 1rem 1.25rem 1rem 1.25rem;
    height: fit-content;
}




.form-group {
    flex: 1 1 calc(50% - 20px);
    /* Két elem egymás mellett, egy sorban, 20px rés a két elem között */
    position: relative;
    margin-bottom: 1rem;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    box-sizing: border-box;
}

.form-group label {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #888;
    transition: all 0.3s;
}

button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: inline-flex;
    align-items: center;
    margin:0;
    width: 100%;
    justify-content: center;
    height: 50px;
};

.button:hover {
    border-radius: 6px;
    background-color: rgb(131, 165, 202);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.surface{
    padding: 1rem;
}
.dashboard-cards{
    display: flex;
    justify-content: space-between;
    gap:2rem;
}
.card{
    display: flex;
    border-radius: 6px;
    gap:0.75rem;
    width: 25%;
    padding:1.5rem;
    background-color: rgba(131, 165, 202, 0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-text h2,.card-text h4{
    margin:0;
}
.card-text h2{
    font-weight: 600;
}
.card-icon{
    display: flex;
    justify-content: end;
    align-items: center;
}
.card-icon span{
    font-size: 60px;
}

.dashboard-base{
    display: flex;
    justify-content: space-between;
    gap:2rem;
}

.dashboard-base1{
    display: flex;
    justify-content: center;
    gap:2rem;
}

.recent-payments, .recent-users, .recent-orders, .recent-products, .new-users{
    border-radius: 6px;
    margin-top: 3rem;
    width:63%;
    background-color: rgba(131, 165, 202, 0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding:1rem;
}

.recent-users, .recent-orders, .recent-products{
    border-radius: 6px;
    margin-top: 3rem;
    width: 90%;
    background-color: rgba(131, 165, 202, 0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.recent-payments-header, .recent-users-header, .recent-orders-header, .recent-products-header, .new-users-header{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
.recent-payments-table,
.new-users-table {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.modal {
justify-self: center;
display: none; /* Alapból elrejtve */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin-top: 2%; /* Csökkentettem az eredeti 15%-ról 5%-ra */
    margin-left: 13%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 6px;
    background-color: rgb(131, 165, 202);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalButton:hover {
    border-radius: 6px;
    background-color: rgb(131, 165, 202);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.modalButton2:hover {
    border-radius: 6px;
    background-color: rgba(156, 189, 224, 0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}



@media (max-width: 1530px) {
    .dashboard-base{
        flex-direction: column;
    }
    .recent-payments{
        width: 100%;
    }
    .new-users{
        width: 100%;
    }
}
