.details_group_1 {
    margin: 0;
    color: #7E8D96;
}
.details_group_2 p {
    color: #3A4049;
}

.surface_primary_body {
    display: flex;
    justify-content: space-between;
}

.surface_primary_body_account {
    width: 50%;
}

.surface_primary_body_shipping {
    width: 50%;
}