/* Általános gombstílus */
/*Gombok stílusai*/
button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    width: 100%;
    height: 50px;
}
.sample-button{
    background-color: #3A4049;
    border-radius: 8px;
    color: white;
    margin-bottom: 0.5rem;
    height: 50px;
}
.sample-button:hover {
    transition: 0.5s;
    background-color: #545E67;
    color: white;
}

/* Alap stílus az oldal méretére. */
.container-for-cartpage {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15vh;
    padding-left: 10rem;
    padding-right: 10rem;
}

/* Kosár tartalma és rendelés összegzése */
.cart-items,
.cart-summary {
    padding: 30px;
}

/* Rendelés összegzése */
.cart-summary {
    background-color: #F5F5F5;
    border-top: 5px solid #8C959F;
    height: fit-content;
    padding-top: 25px;
}

/* Kosár tartalma és rendelés összegzése fejrészei */
.cart-items-head,
.summary-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #8C959F;
    padding-bottom: 0.5rem;
}

/* Kosárban lévő termék tároló doboza */
.item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0; /* Kis térköz az elemek között */
}

.box-image img {
    width: 150px; /* A kép méretének csökkentése, igazodva az új layout-hoz */
    height: auto;
    margin-right: 20px; /* Térköz a kép és a terméknév között */
}

.box-name-price {
    flex-grow: 1;
}

.box-quantity,
.box-subtotal {
    text-align: right; /* Elemek jobbra igazítása */
}

.box-subtotal {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100px;
}

/* Mennyiség változtató dobozok stílusai */
.quantity-change {
    display: flex;
}

.quantity-remove {
    height: 10px;
}

.quantity-control {
    padding: 5px 10px; 
    cursor: pointer; 
}

.quantity-input {
    width: 50px;
    text-align: center;
    border: 1px solid #eee;
}

/* Mennyiség gomb stílusok */
.quantity_btn {
    background-color: #3A4049;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 40px;
    width: 30px;
}

.quantity_btn:hover {
    transition: 0.3s;
    background-color: #CAE4F4;
    color: black;
}

.quantity_input {
    width: 50px;
    text-align: center;
    height: 40px;
}

/* Rendelés összegzése */
.summary-subtotal,
.summary-total {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
}
.summary-subtotal{
    border-bottom: 2px solid #8C959F;
}
.subtotal-text p{
    margin: 0;
}

.summary-total h4 {
    margin: 0;
}



/* Reszponzív stílusok */
@media (max-width: 1200px) {
    .container-for-cartpage {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .cart-items-body {
        margin-bottom: 1rem;
    }
}

@media (max-width: 576px) {
    .container-for-cartpage {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
