

/* Fő tartalmi részek stílusai */
.container-for-home, .container-for-cards, .container-for-content {
    display: flex; 
    padding-left: 10rem;
    padding-right: 10rem;
    
}

.container-for-home {
    background-image: linear-gradient(45deg, rgb(203,219,229) 0%, rgb(203,219,229) 32%,rgba(171,171,171, 0.0392156862745098) 32%, rgba(171,171,171, 0.0392156862745098) 100%),linear-gradient(0deg, rgba(173,173,173, 0.0392156862745098) 0%, rgba(173,173,173, 0.0392156862745098) 40%,rgba(55,55,55, 0.0392156862745098) 40%, rgba(55,55,55, 0.0392156862745098) 100%),linear-gradient(157.5deg, rgba(173,173,173, 0.0392156862745098) 0%, rgba(173,173,173, 0.0392156862745098) 52%,rgb(179,202,222) 52%, rgb(179,202,222) 100%),linear-gradient(157.5deg, rgb(179,202,222) 0%, rgb(179,202,222) 11%,rgb(181,201,218) 11%, rgb(181,201,218) 100%),linear-gradient(90deg, rgb(155,209,225),rgb(77,174,204));
    padding-top: 200px;
    padding-bottom: 200px;
    flex-direction: column;
    height: fit-content;
    max-height: fit-content;
    background-color: #DADCE2;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
}

.container-for-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1rem;
    align-items: center;
    margin: 2.5rem 0;
}

.container-for-content {
    display: flex;
    margin-top: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #CBDBE5;
    justify-content: space-between; /* Megőrzi a tartalom közötti távolságot */
    align-items: center; /* Középre igazítás függőlegesen */
    margin-bottom: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
}
.container-for-content-left{
    display: flex;
    justify-content: center;
}
.container-for-content-left img {
    width: 75%; /* Teljes szélesség a rendelkezésre álló helyen */
    height: auto; /* Automatikus magasság a szélességhez viszonyítva */
    object-fit: contain; /* A kép beilleszkedik a konténerbe */
}

.container-for-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem; /* Szöveges tartalom paddingje */
}

.container-for-content-right h1 {
    font-size: 2.2em; /* Egységes méretezés */
}

.container-for-content-right p {
    font-size: 1.1em;
}

/*container-for tartalmának stílusai*/
.collection{
    width:50%;
}
.collection h1, .collection p, .collection button{
    margin:0;
}
.collection h1{
    font-size: 230%;
    margin-bottom:1rem;
    color:black;
}
.collection p{
    margin-bottom:2rem;
    color:#545E67;
}
.collection button{
    padding: 15px 25px;
    background-color: #F8FAF7;
    color: #3A4049;
    font-weight:bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
    border:2px solid #E0E8F1;
    transition: 1s;
}
.collection button:hover{
    background-color: #E0E8F1;
}



.box-for-cards {
    position: relative; /* Meghatározza, hogy a gyermek abszolút pozicionált elemek viszonyítási pontja legyen */
    padding: 1rem;
    height: 15rem;
    flex-basis: calc(33.333% - 1rem);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: start;
    transition: 0.3s;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
    background-color: #CAE4F4;
}

.box-for-cards:hover {
    opacity: 0.9;
}


.card-content {
    z-index: 2; /* Biztosítja, hogy a szöveg a kép fölött legyen */
    /* További stílusok... */
}

.card-image {
    position: absolute; /* Abszolút pozicionálás a szülőjén belül */
    bottom: 0; /* A konténer aljához igazítja */
    right: 0; /* A konténer jobb oldalához igazítja */
    z-index: 1; /* Győződj meg róla, hogy a kép a szöveg alatt legyen */
    max-width: 90%; /* Biztosítja, hogy a kép ne legyen szélesebb, mint a kártya */
    max-height: 90%; /* Biztosítja, hogy a kép ne legyen magasabb, mint a kártya */
    opacity: 0.9; /* Átlátszóságot állít be, ha szükséges */
}

/* Reszponzív módosítások, ha szükségesek... */





@media (max-width: 768px) {

}
/* Reszponzív módosítások */
@media (max-width: 1000px) {
    .box-for-cards {
        flex-basis: 100%;
    }
    .container-for-content {
        flex-direction: column; /* Egymás alá helyezés a kisebb képernyőkön */
        text-align: center; /* Szöveg középre igazítása */
    }

    .container-for-content-left,
    .container-for-content-right {
        max-width: none; /* Távolítsa el a maximális szélességet */
        width: 100%; /* Teljes szélesség mindkét oldalon */
    }

    .container-for-content-left img {
        margin-bottom: 1rem; /* Távolság a kép és a szöveg között */
    }

    .container-for-content-right {
        padding: 1rem; /* Kisebb padding a szövegnél */
    }
}




@media (max-width: 1200px) {
    .container-for-home, .container-for-cards, .container-for-content {
    padding-left: 5rem;
    padding-right: 5rem;
}
.collection{
    width:60%;
}
}
@media (max-width: 576px) {
    .container-for-home, .container-for-cards, .container-for-content{
    padding-left: 2rem;
    padding-right: 2rem;
}
.collection{
    width:75%;
}
}