

/* Fő tartalmi részek stílusai */
.container-for-home, .container-for-cards, .container-for-content {
    display: flex; 
    padding-left: 10rem;
    padding-right: 10rem;
    
}

.container-for-home {
    background-image: linear-gradient(45deg, rgb(203,219,229) 0%, rgb(203,219,229) 32%,rgba(171,171,171, 0.0392156862745098) 32%, rgba(171,171,171, 0.0392156862745098) 100%),linear-gradient(0deg, rgba(173,173,173, 0.0392156862745098) 0%, rgba(173,173,173, 0.0392156862745098) 40%,rgba(55,55,55, 0.0392156862745098) 40%, rgba(55,55,55, 0.0392156862745098) 100%),linear-gradient(157.5deg, rgba(173,173,173, 0.0392156862745098) 0%, rgba(173,173,173, 0.0392156862745098) 52%,rgb(179,202,222) 52%, rgb(179,202,222) 100%),linear-gradient(157.5deg, rgb(179,202,222) 0%, rgb(179,202,222) 11%,rgb(181,201,218) 11%, rgb(181,201,218) 100%),linear-gradient(90deg, rgb(155,209,225),rgb(77,174,204));
    padding-top: 200px;
    padding-bottom: 200px;
    flex-direction: column;
    height: fit-content;
    max-height: fit-content;
    background-color: #DADCE2;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
}

.container-for-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1rem;
    align-items: center;
    margin: 2.5rem 0;
}

.container-for-content {
    display: flex;
    margin-top: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #CBDBE5;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
}
.container-for-content-left{
    display: flex;
    justify-content: center;
}
.container-for-content-left img {
    width: 75%;
    height: auto;
    object-fit: contain; 
}

.container-for-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem; 
}

.container-for-content-right h1 {
    font-size: 2.2em; 
}

.container-for-content-right p {
    font-size: 1.1em;
}


.collection{
    width:50%;
}
.collection h1, .collection p, .collection button{
    margin:0;
}
.collection h1{
    font-size: 230%;
    margin-bottom:1rem;
    color:black;
}
.collection p{
    margin-bottom:2rem;
    color:#545E67;
}
.collection button{
    padding: 15px 25px;
    background-color: #F8FAF7;
    color: #3A4049;
    font-weight:bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.1);
    border:2px solid #E0E8F1;
    transition: 1s;
}
.collection a {
    text-decoration: none;
}
.collection button:hover{
    background-color: #E0E8F1;
}

@media (max-width: 992px) {

    .container-for-content-left img {
        max-width: 50%;
    }

}
/* Reszponzív módosítások */
@media (max-width: 1000px) {
    .box-for-cards {
        flex-basis: 100%;
    }
    .container-for-content {
        flex-direction: column; 
        text-align: center;
    }

    .container-for-content-left,
    .container-for-content-right {
        max-width: none; 
        width: 100%; 
    }

    .container-for-content-left img {
        margin-bottom: 1rem; 
    }

    .container-for-content-right {
        padding: 1rem; 
    }
}




@media (max-width: 1200px) {
    .container-for-home, .container-for-cards, .container-for-content {
    padding-left: 5rem;
    padding-right: 5rem;
}
.collection{
    width:60%;
}
}
@media (max-width: 576px) {
    .container-for-home, .container-for-cards, .container-for-content{
    padding-left: 2rem;
    padding-right: 2rem;
}
.collection{
    width:75%;
}
}