.container-for-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
    height: calc(100vh - 100px);
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 3rem;
    background-color: #fff;
    border-radius: 10px;
    background-color: #E0E8F1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lock {
    display: block;
    margin-bottom: 1rem;
}

button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: inline-flex;
    align-items: center;
    margin:0;
}

.btn_logout {
    width: 100%;
    background-color: #27251F;
    color: white;
    justify-content: center;
    height: 50px;
}

.btn_logout:hover {
    transition: 0.3s;
    background-color: #FFCAD4;
    color: black;
} 
