.container-for-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
    height: calc(100vh - 100px);
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 3rem;
    background-color: #fff;
    border-radius: 10px;
    background-color: #E0E8F1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lock {
    display: block;
    margin-bottom: 1rem;
}

button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: inline-flex;
    align-items: center;
    margin:0;
}

.sample-button{
    background-color: #3A4049;
    border-radius: 8px;
    color: white;
    margin-top: 1rem;
    height: 50px;
    width: 75%;
}
.sample-button:hover {
    transition: 0.5s;
    background-color: #545E67;
    color: white;
}

.lock {
    transform:scale(1.5);
    display: block;
    margin-bottom: 1rem;
}
