/* Navigációs sáv stílusai */
.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 226, 224, 0.9);
    min-height: 12vh;
    max-height: 12vh;
    padding-left: 10rem;
    padding-right: 10rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: top 0.2s;
    z-index: 1000;
}


.logo img {
    height: 12vh;
}

/* Navigációs menü és elemeinek stílusai */
.navigation-menu {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    padding: 20px 0;
}

.navigation-menu-item {
    display: flex;
    align-items: center;
    height: 35px;
    transition:0.5s ease;
}

.navigation-menu-item a {
    font-size: 120%;
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.navigation-menu-item:hover {
    background-color: rgba(255, 226, 224, 1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 12px;
}


/* Ikonok és gombok stílusai */
.icon-container {
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.iconstyle {
    font-size: 24px;
    transform: scale(1.2);
    color: #5b5b5b;
}

.icon-button {
    padding: 0 20 0 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    scale: 110%;
}