
        //Amennyiben a kijelző mérete 768 pixel alá esik (mobilnézet)
        //megjelenik a hamburger menü amivel a felhasználó elő tudja hívni a navigációs sávot.






        .header_hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .header_hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .header_hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }