
.container-for-orderconfirmation {
    padding-top: 30vh;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
    height: 100vh;

}
.collection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection h1 {
    font-weight: bold;
    color:#3A4049;
}

.collection h5 {
    color: #545E67;
}
.collection button {
    font-weight:bold;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 200px; 
    background-color: rgb(131, 165, 202);
    color: #F8FAF7;
    justify-content: center;
    height: 50px;
    border: none;
    cursor: pointer; 
    font-size: 16px;
    margin-top: 20px;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.animated-check {
    height: 5em;
    width: 5em
}

.animated-check path {
    fill: none;
    stroke: rgb(131, 165, 202);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    stroke-width: 4;
    stroke-dasharray: 23;
    stroke-dashoffset: 23;
    animation: draw 1s linear forwards;
    stroke-linecap: round;
    stroke-linejoin: round
}

@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}
