/*Univerzális elemek stílusai:*/
body,html{
    margin:0;
    padding:0;
}
/*Gombok stílusai*/
button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    width: 100%;
    height: 50px;
}
.sample-button{
    background-color: #3A4049;
    border-radius: 8px;
    color: white;
    margin-bottom: 0.5rem;
    height: 50px;
}
.sample-button:hover {
    transition: 0.5s;
    background-color: #545E67;
    color: white;
}
    
/*Univerzális elemek vége*/



/* Fő tartalmi részek stílusai */
.container-for-profilepage {

    gap:5rem;
    padding-top: 140px;
    padding-left: 10rem;
    padding-right: 10rem;
    height:fit-content;
    min-height: 105vh;
}
/*Beviteli mezők stílusai*/
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
    }
    .form-group input {
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    box-sizing: border-box;
    height: 3.5rem;
    font-size: 16px;
    }
    .form-group label {
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 14px;
    color: #888; /* Példa: szürke szín a kisebb fontmérethez */
    transition: all 0.3s;
    margin-left: 0.2rem;
    cursor: pointer;
    }


/*Profilkép/menü elemek*/
.container-profile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-name-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width:100%;
}
.preview-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}
.preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-name {
    text-align: center;
    margin-top: 1rem;
}
.container-menu{
    display:block;
    width:100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-bottom: 2px solid #888;
    background-color: rgba(156, 189, 224, 0.5);
    border-radius: 16px;
    transition: 1s;
    padding: 1rem 1.25rem 1rem 1.25rem;
}
.container-menuitem{
    display:flex;
    background-color: #F6F6F6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 16px;
    margin-bottom: 0.75rem;
    padding:0.5rem;
    
}

/*Tartalmi rész stílusai*/
.container-surface {
    display:block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: rgba(194, 210, 227, 0.5);
    border-radius: 16px;
    transition: 1s;
    padding: 2rem 2.5rem 2rem 2.5rem;
    height:fit-content;
}
.surface_header1 {
    margin-bottom: 1.5rem;
}
.surface_header2 {
    border-bottom: 1px solid #D0D1D2;
    margin-bottom: 1rem;
}
.surface_header2 p {
    margin-bottom: 0;
}
.surface_body {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 15px;
}
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    box-sizing: border-box;
}
.form-group label {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #3A4049;
    transition: all 0.3s;
}

/*Reszponzív stílusok*/
@media (max-width: 1200px) {
    .container-for-profilepage{
    padding-left: 5rem;
    padding-right: 5rem;
}
}
@media (max-width: 576px) {
    .container-surface{
    margin-top: 2rem;
}
}
@media (max-width: 576px) {
    .container-for-profilepage{
    padding-left: 2rem;
    padding-right: 2rem;
}
}



/*Űrlap stílus*/
.details_group_1 {
    margin: 0;
    color: #7E8D96;
}
.details_group_2 p {
    color: #3A4049;
}

#surface_primary_body {
    display: flex;
    justify-content: space-between;
}

#surface_primary_body_account {
    width: 50%;
}

#surface_primary_body_shipping {
    width: 50%;
}

/*Rendelések táblázat stílusa*/
.scrollable-table {
    max-height: 400px; /* Példában 400px magasság, de módosítható a konkrét igényeknek megfelelően */
    overflow-y: auto;
    width: 100%;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th, .order-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.order-table th {
    background-color: #f2f2f2;
}
